body {
    font-family: 'Open Sans', sans-serif; 
    color:  #e7e7e7;
    display: flex;
    align-items: center; 
    justify-content: center;
}
h1 {
    font-weight: 300;
    font-size: 16mm;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    color:  #9b9b9b ;
    font-weight: 800;
    margin-top: 0;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    color: #e7e7e7;
    font-style: italic;
}
.summary {
    font-family: 'Montserrat', sans-serif;
    color: #e7e7e7;
    font-weight: 500;
}
.text {
 color: #9b9b9b;
 font-weight: bold;
}

.container {
    background-color:#1e1b26;
    width: 550px; 
    height: 965px;
    box-shadow: -1px 15px 30px -12px grey;
    overflow: hidden;
}
.imagen {
    max-width:100%;
}
.batman {
    width: 550px;
}
button {
    background-color:#1e1b26;
    border-color: #fe4141 ;
    font-weight: 400; 
    font-size:20px ;
    color: #fe4141;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
    padding-right: 35px ;
}
a {
	text-decoration: none;
    color: #f53f40;
}
.botoncito {
    width: 10px;
}
.contenido {
      padding: 20px;
}